.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pop-up{
    border-radius: 15px;
    background-color: antiquewhite;
}
#formContainer{
    display: flex;
    flex-direction: column;
}

input{
    background-color: rgb(255, 205, 140);
}

#addBookBtn{
    width: 100px;
    height: 50px;
    background-color: aqua;
    margin-top: 30px;
}

button,
input{
    border-radius: 15px;
}

#registerBook{
    margin-top: 10px;
    background-color: greenyellow;
}

th{
    width: 300px;
}

td{
    text-align: center;
    border-top: 1px solid;
    border-width: 100%;
}

#tableHolder{
    margin-top: 120px;
}

#libraryTable{
    outline: 1px solid;
    border-radius: 15px;
    background-color: antiquewhite;
}
